<a href="https://colab.research.google.com/github/anshuls01/Paython-NLP/blob/master/py_NLP_06052019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [2]:
2+2

4

# Print Add and Multiplication

In [12]:
L1=[2,4,6,8,10]
L2=[1,3,5,7,9]
for x in range(0,5):
  print (L1[x] + L2[x])

for x in range(0,5):
  print (L1[x] * 2)

print (L1 + L2)
print (L1*2)

3
7
11
15
19
4
8
12
16
20
[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [7]:
x = [1,2]
type(x)

list

In [8]:
x={1,2}
type(x)

set

In [25]:
angles=[0,30,60,90,120,150,180,210,240,270,300,330,360]
angle = list(range(0,361,30))
print (angle)
i1= angle.index(90)
print(i1)
i2=angle.index(270)
print(i2)
i1_rev=len(angle) -1 -angle.index(90)
print (i1_rev)
i2_rev=len(angle) -1 -angle.index(270)
print (i2_rev)
print(angle[i1_rev:i2_rev - 1:-1])

[0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360]
3
9
9
3
[270, 240, 210, 180, 150, 120, 90]

In [40]:
L1 =  [2,4,6,8,10]
L2=L1
print(L1)
del(L2[3])
# L2.remove(8)
print (L2)
print (L1)
L1 = [2,4,6,8,10]
L2 = L1.copy()
del(L2[3])
# L2.remove(8)
print (L2)
print (L1)
print (L2,L1)
L3 = L1[ : ]
print(L3)
del(L3[3])
print(L3)
print(L1)

[2, 4, 6, 8, 10]
[2, 4, 6, 10]
[2, 4, 6, 10]
[2, 4, 6, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 10] [2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 10]
[2, 4, 6, 8, 10]

Installing Package

In [51]:
import numpy as np
import tensorflow as tf

tup = (1,2,3)
print (tup)
tup = tup + (4,)
print (tup)
del(tup[2])

(1, 2, 3)
(1, 2, 3, 4)

TypeError: ignored

Dictionaries

In [65]:
states={'AP':[1234,'Hyd',False],'Arunachal':[5678,'Itanagar',True],'Bihar':[124434,'Patna',True]}
print (states)
print(states['Bihar'])


states['Telangana'] = [891011,'XYZ',True]
print (states)

{'AP': [1234, 'Hyd', False], 'Arunachal': [5678, 'Itanagar', True], 'Bihar': [124434, 'Patna', True]}
[124434, 'Patna', True]
{'AP': [1234, 'Hyd', False], 'Arunachal': [5678, 'Itanagar', True], 'Bihar': [124434, 'Patna', True], 'Telangana': [891011, 'XYZ', True]}

In [52]:
print (x==1)

False

Functions and Lambda

In [71]:
import numpy as np
def deg_rad(angle):
  pi = 3.14
  return np.round(angle*pi/180)

print(deg_rad(360))

deg_rad_inline=lambda angle,rotate:angle/360*22/7+rotate
deg_rad_inline(30,deg_rad(90))

6.0
2.261904761904762

Loops

In [7]:
import numpy as np
rad_angles = []
q2_angles=[]
for a in [30,60,90]:
  pi = 3.14
  rad_angles.append(a*pi/180)
  q2_angles.append(a+90)
  
print (rad_angles)
print (q2_angles)

[0.5233333333333333, 1.0466666666666666, 1.57]
[120, 150, 180]

In [17]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
  print(planet,end =' ')
  
short_planet = [planet for planet in planets if len(planet)<6]
print (short_planet,end=' ')
loud_short_Planet = [planet.upper() + "!" for planet in planets if len(planet)<6]
print (loud_short_Planet)

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune ['Venus', 'Earth', 'Mars'] ['VENUS!', 'EARTH!', 'MARS!']

In [46]:
import numpy as np
a = np.array([1,2,3])
b = np.array([[1,2,3],[4,5,6]])
e = np.array([(0,0,0),[1,2,3],(0,0,0)])
c = np.zeros([3,4])
d = np.eye(3)
print(a)
print(b)
# print (e)
# print (c)
# print (d)

print (a.shape)
print (b.shape)
print (len(a))
print (len(b))
# print (b.size)
# print (b.dtype)
# b = b.astype(int)
# b.dtype

[1 2 3]
[[1 2 3]
 [4 5 6]]
(3,)
(2, 3)
3
2

In [62]:
from sklearn import datasets
iris = datasets.load_iris();
# print (iris)

x = iris.data
print(x.shape)
print (x.size)
print (x.ndim)

Xsub = x[100:140,2:4]
print (Xsub)
print (Xsub.shape)
# print (x[139:140])
# print (len(y))

(150, 4)
600
2
[[6.  2.5]
 [5.1 1.9]
 [5.9 2.1]
 [5.6 1.8]
 [5.8 2.2]
 [6.6 2.1]
 [4.5 1.7]
 [6.3 1.8]
 [5.8 1.8]
 [6.1 2.5]
 [5.1 2. ]
 [5.3 1.9]
 [5.5 2.1]
 [5.  2. ]
 [5.1 2.4]
 [5.3 2.3]
 [5.5 1.8]
 [6.7 2.2]
 [6.9 2.3]
 [5.  1.5]
 [5.7 2.3]
 [4.9 2. ]
 [6.7 2. ]
 [4.9 1.8]
 [5.7 2.1]
 [6.  1.8]
 [4.8 1.8]
 [4.9 1.8]
 [5.6 2.1]
 [5.8 1.6]
 [6.1 1.9]
 [6.4 2. ]
 [5.6 2.2]
 [5.1 1.5]
 [5.6 1.4]
 [6.1 2.3]
 [5.6 2.4]
 [5.5 1.8]
 [4.8 1.8]
 [5.4 2.1]]
(40, 2)

Pandas

upload file

In [71]:
from google.colab import files
uploaded = files.upload()

Saving matches.csv to matches (1).csv

In [75]:
import pandas as pd
df = pd.read_csv('matches.csv')
print(df.shape)
print(df.columns)
print (list(df.index)[:10])
df.head()

(577, 18)
Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

Subsetting Dataframes

In [85]:
df[df['city']=='Bangalore']
df[df['city']=='Bangalore']['winner']
df[df['season'].isin([2008,2015])]
df[df['season'].isin([2008,2015])][['season','toss_winner']]
df['winner'].value_counts()
df['winner'].isnull().sum()

3

In [87]:
df.iloc[0:10]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN
5,6,2008,Jaipur,2008-04-21,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,normal,0,Rajasthan Royals,0,6,SR Watson,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN
6,7,2008,Hyderabad,2008-04-22,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,normal,0,Delhi Daredevils,0,9,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",IL Howell,AM Saheba,NaN
7,8,2008,Chennai,2008-04-23,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Chennai Super Kings,6,0,ML Hayden,"MA Chidambaram Stadium, Chepauk",DJ Harper,GA Pratapkumar,NaN
8,9,2008,Hyderabad,2008-04-24,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,MR Benson,NaN
9,10,2008,Chandigarh,2008-04-25,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Kings XI Punjab,66,0,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",Aleem Dar,AM Saheba,NaN

In [95]:
df.reset_index(inplace=True)
df.set_index('date',inplace=True)
df.loc['2008-04-18']

index                                        0
id                                           1
season                                    2008
city                                 Bangalore
team1                    Kolkata Knight Riders
team2              Royal Challengers Bangalore
toss_winner        Royal Challengers Bangalore
toss_decision                            field
result                                  normal
dl_applied                                   0
winner                   Kolkata Knight Riders
win_by_runs                                140
win_by_wickets                               0
player_of_match                    BB McCullum
venue                    M Chinnaswamy Stadium
umpire1                              Asad Rauf
umpire2                            RE Koertzen
umpire3                                    NaN
Name: 2008-04-18, dtype: object

In [106]:
df2 = df['winner']
df['winner'].fillna('bfill')
df.isnull().sum()
# print(df2.columns)

index                0
id                   0
season               0
city                 7
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              0
umpire2              0
umpire3            577
dtype: int64

Adding DataFrames

In [120]:
df1 = pd.DataFrame({'metal':['steel','AU','wood'],'YM':[100,300,200],'ductile':[True,True,False]},index=['m1', 'm2', 'm3'])
df1

    metal   YM  ductile
m1  steel  100     True
m2     AU  300     True
m3   wood  200    False

Adding Droping rows/columns

In [119]:
df1.ix[0:]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

    metal   YM ductile
m1  steel  100    True
m2     AU  300    True
m3   wood  200   False

In [137]:

df1.ix['m4'] = ['cement', 0.1, False]
df1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

     metal     YM  ductile
m1   steel  100.0     True
m2      AU  300.0     True
m3    wood  200.0    False
m4  cement    0.1    False

In [138]:
df1.drop(['m4'], axis=0)

    metal     YM  ductile
m1  steel  100.0     True
m2     AU  300.0     True
m3   wood  200.0    False

In [139]:
df1.drop(['YM'], axis=1)

     metal  ductile
m1   steel     True
m2      AU     True
m3    wood    False
m4  cement    False

Merging DataFrames

In [145]:
df1 = pd.DataFrame({'metal':['steel','AU','wood'],'YM':[100,300,200],'ductile':[True,True,False]},index=['m1', 'm2', 'm3'])
df2 = pd.DataFrame({'metal':['steel','AU','cement'], 'UTS (Mpa)':[400,300,40],'YM':[20,10,5]},index=['me1', 'me2', 'me3'])
df3 = pd.concat([df1,df2])
df3
print(df1)
print(df2)
pd.merge(df1,df2,on='metal',how='outer')

    metal   YM  ductile
m1  steel  100     True
m2     AU  300     True
m3   wood  200    False
      metal  UTS (Mpa)  YM
me1   steel        400  20
me2      AU        300  10
me3  cement         40   5

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

    metal   YM_x ductile  UTS (Mpa)  YM_y
0   steel  100.0    True      400.0  20.0
1      AU  300.0    True      300.0  10.0
2    wood  200.0   False        NaN   NaN
3  cement    NaN     NaN       40.0   5.0

In [143]:
pd.merge(df1,df2,on='metal',how='outer')

   metal  YM_x  ductile  UTS (Mpa)  YM_y
0  steel   100     True        400    20
1     AU   300     True        300    10
2   wood   200    False         40     5

In [144]:
pd.merge(df1,df2,on='metal',how='inner')

   metal  YM_x  ductile  UTS (Mpa)  YM_y
0  steel   100     True        400    20
1     AU   300     True        300    10
2   wood   200    False         40     5

Student Activity

In [147]:
from google.colab import files
uploaded = files.upload()

# from google.colab import files
# uploaded = files.upload()

Saving road_accidents.csv to road_accidents.csv

In [150]:
import pandas as pd
roads = pd.read_csv('roads.csv')
accidents = pd.read_csv('road_accidents.csv')
roads

             Category                 States/UTs        Total  Surfaced
0              States             Andhra Pradesh   168516.000     93573
1              States          Arunachal Pradesh     5262.000      5262
2              States                      Assam   222087.000     27622
3              States                      Bihar   167579.000     94421
4              States               Chhattisgarh    30295.000     30295
5              States                        Goa     5851.000      3221
6              States                    Gujarat    53288.000     50621
7              States                    Haryana     4622.000      4622
8              States           Himachal Pradesh    15145.000     14714
9              States            Jammu & Kashmir    13451.000     12404
10             States                  Jharkhand    17097.000     17097
11             States                  Karnataka   163957.000     90260
12             States                     Kerala   124864.349     79354
13             States             Madhya Pradesh   117722.000     75718
14             States                Maharashtra   262371.000    193806
15             States                    Manipur     7635.000      3919
16             States                  Meghalaya     1793.000      1194
17             States                    Mizoram     2561.000      2561
18             States                   Nagaland    23783.000     10930
19             States                     Odisha   213446.000    213446
20             States                     Punjab    62900.000     62900
21             States                  Rajasthan   103441.000     67313
22             States                     Sikkim     3343.000      3343
23             States                 Tamil Nadu   144583.000    107803
24             States                    Tripura    18165.000      8976
25             States                Uttarakhand     6933.000      6933
26             States              Uttar Pradesh   113531.000     79446
27             States                West Bengal   184088.000     38156
28  Union Territories  Andaman & Nicobar Islands      111.000       111
29  Union Territories                 Chandigarh     1219.000       967
30          All India                  All India  2259639.349   1400988

Shape of Each frame

In [0]:
roads.shape
roads.head()
m_roads = roads.drop(['Category','Total'], axis=1)
# print(x.shape)
# print (x.size)
# print (x.ndim)

In [0]:
accidents.shape
accidents.head()
m_accidents = accidents.drop(['2006','2007','2008','2009','2010','2011','2015'], axis=1)

In [164]:
pd.merge(m_accidents,m_roads,on='States/UTs',how='inner')

                   States/UTs      2012      2013    2014  Surfaced
0              Andhra Pradesh   14578.0   17355.0    7815     93573
1           Arunachal Pradesh     147.0     242.0     149      5262
2                       Assam    4174.0    4112.0    4186     27622
3                       Bihar    5124.0    4470.0    4580     94421
4                Chhattisgarh    6183.0    5824.0    6049     30295
5                         Goa    1752.0    1920.0    1904      3221
6                     Gujarat   10382.0    9434.0    8597     50621
7                     Haryana    3221.0    3485.0    3628      4622
8            Himachal Pradesh    1012.0    1093.0    1138     14714
9             Jammu & Kashmir    2540.0    2601.0    2421     12404
10                  Jharkhand    2496.0    2546.0    2547     17097
11                  Karnataka   17797.0   18541.0   16617     90260
12                     Kerala   14147.0   13775.0   14171     79354
13             Madhya Pradesh   26726.0   26253.0   27474     75718
14                Maharashtra   38227.0   36069.0   36473    193806
15                    Manipur     502.0     246.0     166      3919
16                  Meghalaya     354.0     346.0     311      1194
17                    Mizoram      47.0      46.0      70      2561
18                   Nagaland      32.0      50.0     248     10930
19                     Odisha    4378.0    4500.0    4405    213446
20                     Punjab    2175.0    2404.0    2641     62900
21                  Rajasthan    8407.0    8653.0    8964     67313
22                     Sikkim      53.0      80.0     146      3343
23                 Tamil Nadu   28224.0   27333.0   24869    107803
24                    Tripura     377.0     398.0     325      8976
25                Uttarakhand     796.0     649.0     735      6933
26              Uttar Pradesh   15715.0   15964.0   18605     79446
27                West Bengal    6025.0    5694.0    6892     38156
28  Andaman & Nicobar Islands      74.0      61.0     131       111
29                 Chandigarh     367.0     327.0     336       967
30                  All India  223933.0  222883.0  226415   1400988